# Описание и ограничения контейнера OpenVZ

# NB: пробелы вокруг знака равенства не допускаются, значения рекомендуется
# указывать в двойных кавычках. VE - Virtual Environment - синоним слова
# "контейнер" в терминологии OpenVZ.

# ------------------------------------------------------------------------------

# Корневой каталог запущенного VE - этот каталог является корневой ФС для
# данного VE на всем протяжении времени работы VE.  В частности, именно сюда
# монтируются /proc и /sys. Содержимое VE_ROOT доступно только если VE в данный
# момент запущен.
VE_ROOT="/vz/root/$VEID"

# Фактическое место хранения файлов VE. Содержимое этого каталога доступно
# всегда - при запущенном и при остановленном VE.
VE_PRIVATE="/vz/dump/$VEID"

# Имя шаблона из которого создан VE.
OSTEMPLATE="centos-6-x86_64"

# Определение параметров сетевого интерфейса VE.
# См. http://openvz.org/Veth
#
# ifname - имя интерфейса внутри VE;
# 
# bridge - имя интерфейса bridge на хосте к которому будет присоединен
# интерфейс VE;
# 
# mac - MAC-адрес интерфейса ifname внутри VE;
# 
# host_ifname - интерфейс хоста соответствующий интерфейсу VE, обычно
# указывается как veth$VEID.0;
# 
# host_mac - MAC-адрес инерфейса хоста. В случае использования в режиме bridge,
# для того чтобы обеспечить независимую связь с VE укажите 'fe:ff:ff:ff:ff:ff';
NETIF="ifname=eth0,bridge=vzbr0,mac=00:18:51:41:49:C1,host_ifname=veth100.0,host_mac=fe:ff:ff:ff:ff:ff"


# ------------------------------------------------------------------------------
# ОГРАНИЧЕНИЯ ИСПОЛЬЗОВАНИЯ ПАМЯТИ

# Для ограничений памяти могут применяться суффиксы T, G, M, K. Значение без
# суффикса считается указанным в байтах. Суффикс P используется для задания
# значений в количесве страниц памяти (обычно, но не всегда 1P = 4K).

# Ключевое слово 'unlimited' означает что ограничение отсутствует и контейнеру
# разрешено использовать весь ресурс доступный на хосте.

# Здесь используется новый механизм управления памятью VE - VSwap,
# который доступен начиная с ядра версии 042stab042 (RHEL6-based kernels).
# Детальную информацию см. на странице http://openvz.org/VSwap

# Количество RAM-памяти доступной VE.
PHYSPAGES="0:2048M"

# Количество Swap-памяти доступной VE.
SWAPPAGES="0:0"


# ------------------------------------------------------------------------------
# ОГРАНИЧЕНИЯ ИСПОЛЬЗОВАНИЯ ПРОЦЕССОРА(-ОВ)

# Количество т.н. cpuunits доступных VE. Значение cpuunits определяет
# "вес" процессов VE для для планировщика процессов. Максимальное
# значение - 500000, минимальное - 8.
# См. детальную инфрмацию на странице https://openvz.org/Resource_shortage
CPUUNITS="1000"

# Количество CPU доступных VE - это количество CPU будет видеть VE в своем
# /proc/cpuinfo.
CPUS="2"

# Максимально допустимая загрузка процессора хоста, которая разрешена для данного
# VE. В случае если хост является многопроцессорной (многоядерной) системой, то
# в этом случае максимально возможный CPULIMIT равен 100 помноженное на
# количество CPU из /proc/cpuinfo на HN. CPULIMIT распределяется равномерно
# между всеми CPU, например если указано что на системе с 4-мя CPU, контейнеру
# отдано 2 (CPUS="2") и задано CPULIMIT="100", то в этом случае будут
# использоваться 2 CPU с макс. загрузкой в 50% на каждый - 100/2 = 50;
# оставшиеся CPU при этом использоваться не будут.
CPULIMIT="100"

# Список CPU доступных VE. CPU перечисляются через запятую, так же возможно
# указывать диапазоны через дефис. Ключевое слово 'all' означает все доступные
# CPU.
CPUMASK="0,2"


# ------------------------------------------------------------------------------
# ДИСКОВЫЕ КВОТЫ

# Для дисковых квот можно указывать soft и hard лимиты, soft лимиты могут быть
# превышены, hard - не могут.

# Дисковое пространство доступное VE:
DISKSPACE="100G:110G"

# Количество inodes доступных VE:
DISKINODES="400000:440000"

# Интервал времени в секундах, в течение которого возможно превышение soft
# лимитов. Значение "0" - не ограничено.
QUOTATIME="0"
