# sshd_config(5)
# sshd(8)
# ssh(1)

# Конфигурационный файл сервера SSH.

# ------------------------------------------------------------------------------
# ОБЩИЕ ПАРАМЕТРЫ

# Протокол сетевого уровня по умолчанию: inet - IPv4, inet6 -IPv6.
AddressFamily inet

# Прослушивать следующие сетевые интерфейсы.
ListenAddress 0.0.0.0:22

# Использовать указанные версии протокола SSH.
Protocol 2

# Список шифров используемых для протокола SSHv2.
Ciphers aes256-ctr

# Выводить содержимое файла motd(5) при входе?
PrintMotd no

# Посылать сообщения TCP keepalive клиенту?
# TCP keepalive используется для предотвращения обрыва сессии SSH вследствие
# "простоя" соединения TCP.
TCPKeepAlive yes

# Максимальное количество "неотвеченных" запросов clent keepalive (не путать с
# TCP keepalive), по прошествии которых сессия будет закрыта сервером.
ClientAliveCountMax 12

# Интервал (в сек.) между сообщениями client keepalive.
# Значение "0" - сообщения посылаться не будут.
ClientAliveInterval 10

# Использовать DNS для обратного разрешения имен клиентов?
UseDNS no

# Включить подсистему sftp-server(8):
Subsystem sftp /usr/libexec/openssh/sftp-server

# Разрешить использование X11 поверх SSH?
X11Forwarding no


# ------------------------------------------------------------------------------
# ВЕДЕНИЕ ЖУРНАЛОВ И ОТЛАДКА

# Отправлять сообщения в указанную группу Syslog.
SyslogFacility AUTH

# Уровень детализации сообщений отправляемых в Syslog.
LogLevel INFO


# ------------------------------------------------------------------------------
# ОГРАНИЧЕНИЯ

# Время ожидания успешной аутентификации.
LoginGraceTime 30

# Максимальное число попыток авторизации.
MaxAuthTries 2

# Максимальное число параллельных неавторизованных соединений. 
MaxStartups 2

# Максимальное количество открытых сессий на сетевое соединение.
MaxSessions 10

# Разрешить вход под аккаунтом root?
PermitRootLogin no

# Разрешить вход только для указанных аккаунтов.
# Даже если разрешен вход под root, при использовании AllowUsers необходимо
# будет указать его здесь.
AllowUsers user1 user2

# Проверять права доступа на домашний каталог пользователя прежде чем разрешить
# вход в систему?
StrictModes no


# ------------------------------------------------------------------------------
# СПОСОБЫ АУТЕНТИФИКАЦИИ

# Использовать PAM для аутентификации?
UsePAM yes

# Разрешить аутентификацию по имени хоста?
HostbasedAuthentication no

# Разрешить аутентификацию "challenge - response"? 
ChallengeResponseAuthentication no

# Разрешить аутентификацию по паролям?
PasswordAuthentication no

# Разрешить аутентификацию по открытому ключу?
PubkeyAuthentication yes

# Файл в котором хранятся авторизованные открытые ключи.
# Обычно авторизованые ключи хранятся в каталоге ~/.ssh каждого пользователя.
# За счет этого достигается эффект того, что один и тот же ключ не сможет быть
# использован для входа разными пользователями - воспользоваться ключом из
# ~/.ssh/authorized_keys сможет только тот пользователь в домашнем каталоге
# которого находится данный ключ. В случае если задан один глобальный файл для
# хранения авторизованых ключей - все пользователи, которым разрешен login могут
# воспользоваться любым из ключей из такого файла.
# AuthorizedKeysFile /etc/ssh/authorized_keys
